body{
    background-image: url("https://mobimg.b-cdn.net/v3/fetch/b6/b650e6d6b5aa5e33847057e031bf537c.jpeg?w=2000");
     background-repeat: repeat-y;
  background-size: 100%;
  background-attachment: fixed;
}
#zadagha1{

    width: 100%;
    height: 100%;
    background-color: rgba(255, 213, 0, 0.53);
    text-align: center;

}
#zadagha2{

      width: 100%;
    height: 100% ;
    background-color: rgba(102, 102, 102, 0.53);
    text-align: center;


}
#zadagha3 {

    width: 100%;
    height: 100%;
    background-color: rgba(0, 155, 149, 0.52);
    text-align: center;
}
input{
    text-align: center;
}
p {
    font-size: 24px;
    color: darkgreen;
}
label {
    font-size: 20px;
    color: darkred;
}
.paragraf {
    font-size: 18px;
    color: darkred;
}
.wer{
    color: indigo;
}
strong{
margin-right: 200px;
    font-size: 24px;
}

